<h2>Food Results</h2>

<section class="food">
  <p class="code">GTIN/UPC Code:</p>
  <p class="description">Description:</p>
  <p class="brand-owner">Brand Owner:</p>
  <p class="ingredients">Ingredients:</p>
</section>
